<ul class="member-list">
  <li ng-repeat="member in members" class="member">
    <a ng-href="https://google.com/#q=who is {{ member.fullName  }}" target="_blank">
      {{ member.fullName  }}
    </a>
  </li>
</ul>
